.main {
  padding-top: 10px;
}

.body-footer-text {
  padding-top: 10px;
  text-align: center;
  color: blue;
  font-size: 14px;
}

.qr {
  display: flex;
  align-items: center;
  justify-content: center;
}
